<!-- <div *ngFor="let User of usersobs$">{{user}}</div> -->
<div class="container">
  <app-add-user (AddUser)="AddUser($event)"></app-add-user>
  <app-separator></app-separator>
  <app-user-list [Users]="Users" (UpdateUser)="EditUser($event)" (RemoveUser)="RemoveUser($event)"></app-user-list>
</div>
