<div style="margin-top: 20px">
  <form (ngSubmit)="Add()" #heroForm="ngForm">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="User">Add New User:</label>
          <input
            type="User"
            class="form-control"
            placeholder="Enter User"
            required
            [(ngModel)]="model.User"
            name="User"
            #User="ngModel"
            id="User"
          />
        </div>
      </div>
      <div class="col-9 align-items-center" style="margin-top: 30px">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>
</div>
