<div *ngIf="isEditing" class="editor">
  <div class="row" style="margin: 4px">
    <div class="col-6">
      <input
        type="text"
        name="User"
        autofocus
        [(ngModel)]="pendingValue"
        (keydown.Enter)="processChanges()"
        (keydown.Meta.Enter)="processChanges()"
        (keydown.Escape)="cancel()"
      />
    </div>
    <div class="col-6">
      <button  class="btn btn-primary" (click)="editUser()">Save</button>
    </div>
  </div>
</div>
<div *ngIf="!isEditing">
  <div class="row" style="margin: 4px">
    <div class="col-6">
      {{ User }}
    </div>
    <div class="col-6">
      <button
        type="button"
        (click)="edit()"
        style="margin-right: 10px"
        class="btn btn-primary"
      >
        Edit
      </button>
      <button
        type="button"
        (click)="removeUser(User)"
        class="btn btn-secondary"
      >
        Delete
      </button>
    </div>
  </div>
</div>
